/*Variables*/
/*H offset, V offset, blur, spread */
/*H offset, V offset, blur, spread */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 48, ../Sass/Mobile-old.scss */
  body {
    background-color: white;
    color: #3b653d;
    font-size: 1em;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /*Image Elements*/
  /* line 58, ../Sass/Mobile-old.scss */
  #logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    width: 138px;
    height: 89px;
  }

  /* line 66, ../Sass/Mobile-old.scss */
  .logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /*Miscellaneous Elements*/
  /* line 76, ../Sass/Mobile-old.scss */
  div {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    min-width: 250px;
    width: 30%;
  }

  /*Header Elements*/
  /* line 86, ../Sass/Mobile-old.scss */
  h1 {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    text-decoration: underline;
    color: #3b653d;
    font-size: 1em;
  }

  /* line 93, ../Sass/Mobile-old.scss */
  h2 {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    text-decoration: underline;
    color: #3b653d;
    font-size: 1em;
  }

  /*Navigation Elements*/
  /* line 102, ../Sass/Mobile-old.scss */
  .menu {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    padding-bottom: 7px;
  }

  /* line 108, ../Sass/Mobile-old.scss */
  button, .selected {
    width: 75%;
    height: 100%;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1em;
    background-color: #3b653d;
  }

  /* line 119, ../Sass/Mobile-old.scss */
  button a {
    color: white;
  }

  /* line 129, ../Sass/Mobile-old.scss */
  a:visited {
    color: white;
  }

  /*Form elements*/
  /* line 135, ../Sass/Mobile-old.scss */
  .form {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    margin-bottom: 4px;
  }

  /* line 141, ../Sass/Mobile-old.scss */
  .login {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 180px;
    left: 15px;
  }

  /*Form Control Elements*/
  /* line 152, ../Sass/Mobile-old.scss */
  label {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    font-size: 1em;
    color: #3b653d;
  }

  /* line 160, ../Sass/Mobile-old.scss */
  input, textarea, select {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    border: 1px solid inset -1px 1px 2px 1px;
    font-family: "The Girl Next Door", Calibri, Ubuntu;
    color: #3b653d;
    min-width: 200px;
  }

  /* line 169, ../Sass/Mobile-old.scss */
  p.success {
    font-size: 1em;
  }

  /*Table Elements*/
  /* line 176, ../Sass/Mobile-old.scss */
  table {
    font-size: 1em;
    margin: 10px auto;
  }

  /* line 181, ../Sass/Mobile-old.scss */
  th {
    font-weight: lighter;
  }
}
/*End Media Query*/
