/*Variables*/
/*H offset, V offset, blur, spread */
/*H offset, V offset, blur, spread */
/* Mobile Mixins*/
/*Functions*/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 74, ../Sass/Mobile.scss */
  body {
    font-size: 1em;
    max-width: 300px;
  }

  /* Banner Elements */
  /* line 82, ../Sass/Mobile.scss */
  #logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    width: 138px;
    height: 89px;
  }

  /* line 90, ../Sass/Mobile.scss */
  .page {
    display: none;
  }

  /* Div and Section Elements */
  /* line 96, ../Sass/Mobile.scss */
  div {
    border-radius: 2px;
    text-align: left;
    padding: 2px;
  }

  /*Navigation Elements */
  /* line 105, ../Sass/Mobile.scss */
  .menu {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /* line 110, ../Sass/Mobile.scss */
  button, .selected {
    width: 50%;
    height: 100%;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1em;
    background-color: #3b653d;
  }

  /*Button Links*/
  /* line 121, ../Sass/Mobile.scss */
  button a {
    color: white;
  }

  /* line 131, ../Sass/Mobile.scss */
  button a:visited {
    color: white;
  }

  /*Form elements*/
  /* line 137, ../Sass/Mobile.scss */
  .form {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /* line 143, ../Sass/Mobile.scss */
  .login {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 149, ../Sass/Mobile.scss */
  .login a {
    color: #3b653d;
  }

  /*Form Control Elements*/
  /* line 155, ../Sass/Mobile.scss */
  label {
    display: inline-block;
    float: left;
    text-align: right;
    padding-bottom: 4px;
    min-width: 100px;
  }

  /* line 163, ../Sass/Mobile.scss */
  input, textarea, select {
    display: inline-block;
    width: 225px;
    border: 1px solid #cccccc;
    font-family: "The Girl Next Door", Calibri, Ubuntu;
    font-size: 1em;
    padding-bottom: 4px;
  }

  /* line 174, ../Sass/Mobile.scss */
  :focus, textarea:focus {
    border: 1px solid darkgrey;
    font-weight: bold;
  }

  /* line 180, ../Sass/Mobile.scss */
  input:focus {
    font-size: 110%;
    width: 250px;
  }

  /*Form Validation Elements*/
  /* line 186, ../Sass/Mobile.scss */
  .success {
    color: green;
  }

  /* line 191, ../Sass/Mobile.scss */
  p.success {
    font-size: 2em;
  }

  /* line 196, ../Sass/Mobile.scss */
  .logout {
    font-size: 3em;
  }

  /* line 201, ../Sass/Mobile.scss */
  .error {
    color: red;
  }

  /*Image Elements*/
  /* line 207, ../Sass/Mobile.scss */
  img {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /* Link elements */
  /* line 216, ../Sass/Mobile.scss */
  a:hover {
    text-decoration: underline;
  }

  /* line 221, ../Sass/Mobile.scss */
  a:active {
    color: white;
    outline: none;
  }

  /* Table Elements */
  /* line 229, ../Sass/Mobile.scss */
  table {
    font-size: 1em;
    background-color: #3b653d;
    color: white;
    text-align: center;
    margin: 35px auto;
    width: 100%;
  }

  /* line 239, ../Sass/Mobile.scss */
  th {
    font-size: 1em;
  }

  /* line 244, ../Sass/Mobile.scss */
  th, td {
    border: 2px white;
    border-style: none dashed dashed none;
  }

  /*Miscelleaneous Elements*/
  /* line 251, ../Sass/Mobile.scss */
  h1, h2, h3 {
    color: #3b653d;
    font-family: "The Girl Next Door", Calibri, Ubuntu;
  }

  /* line 257, ../Sass/Mobile.scss */
  h1 {
    font-size: 3em;
  }

  /* line 262, ../Sass/Mobile.scss */
  h2 {
    font-size: 2em;
    font-family: "Homemade Apple", Calibri, Ubuntu;
  }

  /* line 269, ../Sass/Mobile.scss */
  .greeting {
    font-family: "The Girl Next Door", Calibri, Ubuntu;
    font-size: 1em;
    color: #3b653d;
    position: absolute;
    left: 5px;
    top: 90px;
  }

  /* line 279, ../Sass/Mobile.scss */
  .invisible {
    display: none;
  }

  /*Footer Elements*/
  /* line 285, ../Sass/Mobile.scss */
  footer {
    background: white;
    color: #3b653d;
    position: relative;
    bottom: 0;
    height: 1.3em;
    /*max-content*/
    width: 90%;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  /* line 298, ../Sass/Mobile.scss */
  footer a, footer a:hover {
    text-decoration: none;
    color: inherit;
  }
}
