/*Variables*/
/*H offset, V offset, blur, spread */
/*H offset, V offset, blur, spread */
/* Mobile Mixins*/
/*Functions*/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 74, ../Sass/Mobile2.scss */
  body {
    font-size: 1em;
  }

  /* Banner Elements */
  /* line 81, ../Sass/Mobile2.scss */
  #logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    width: 138px;
    height: 89px;
  }

  /* line 89, ../Sass/Mobile2.scss */
  .page {
    display: none;
  }

  /* Div and Section Elements */
  /* line 95, ../Sass/Mobile2.scss */
  div {
    border-radius: 2px;
    text-align: left;
    padding: 2px;
  }

  /*Navigation Elements */
  /* line 104, ../Sass/Mobile2.scss */
  .menu {
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /* line 109, ../Sass/Mobile2.scss */
  button, .selected {
    width: 50%;
    height: 100%;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 1em;
    background-color: #3b653d;
  }

  /*Button Links*/
  /* line 120, ../Sass/Mobile2.scss */
  button a {
    color: white;
  }

  /* line 130, ../Sass/Mobile2.scss */
  button a:visited {
    color: white;
  }

  /*Form elements*/
  /* line 136, ../Sass/Mobile2.scss */
  .form {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
  }

  /* line 142, ../Sass/Mobile2.scss */
  .login {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    text-align: left;
    position: relative;
    left: 1%;
    float: none;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 148, ../Sass/Mobile2.scss */
  .login a {
    color: #3b653d;
  }

  /*Form Control Elements*/
  /* line 154, ../Sass/Mobile2.scss */
  label {
    display: inline-block;
    float: left;
    text-align: right;
    padding-bottom: 4px;
    min-width: 100px;
  }

  /* line 162, ../Sass/Mobile2.scss */
  input, textarea, select {
    display: inline-block;
    width: 225px;
    border: 1px solid #cccccc;
    font-family: "The Girl Next Door", Calibri, Ubuntu;
    font-size: 1em;
    padding-bottom: 4px;
  }

  /* line 173, ../Sass/Mobile2.scss */
  :focus, textarea:focus {
    border: 1px solid darkgrey;
    font-weight: bold;
  }

  /* line 179, ../Sass/Mobile2.scss */
  input:focus {
    font-size: 110%;
    width: 250px;
  }

  /*Form Validation Elements*/
  /* line 185, ../Sass/Mobile2.scss */
  .success {
    color: green;
  }

  /* line 190, ../Sass/Mobile2.scss */
  p.success {
    font-size: 2em;
  }

  /* line 195, ../Sass/Mobile2.scss */
  .logout {
    font-size: 3em;
  }

  /* line 200, ../Sass/Mobile2.scss */
  .error {
    color: red;
  }

  /*Image Elements*/
  /* line 206, ../Sass/Mobile2.scss */
  img {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /* Link elements */
  /* line 215, ../Sass/Mobile2.scss */
  a:hover {
    text-decoration: underline;
  }

  /* line 220, ../Sass/Mobile2.scss */
  a:active {
    color: white;
    outline: none;
  }

  /* Table Elements */
  /* line 228, ../Sass/Mobile2.scss */
  table {
    font-size: 1em;
    background-color: #3b653d;
    color: white;
    text-align: center;
    margin: 35px auto;
    width: 100%;
  }

  /* line 238, ../Sass/Mobile2.scss */
  th {
    font-size: 1em;
  }

  /* line 243, ../Sass/Mobile2.scss */
  th, td {
    border: 2px white;
    border-style: none dashed dashed none;
  }

  /*Miscelleaneous Elements*/
  /* line 250, ../Sass/Mobile2.scss */
  h1, h2, h3 {
    color: #3b653d;
    font-family: "The Girl Next Door", Calibri, Ubuntu;
  }

  /* line 256, ../Sass/Mobile2.scss */
  h1 {
    font-size: 3em;
  }

  /* line 261, ../Sass/Mobile2.scss */
  h2 {
    font-size: 2em;
    font-family: "Homemade Apple", Calibri, Ubuntu;
  }

  /* line 268, ../Sass/Mobile2.scss */
  .greeting {
    font-family: "The Girl Next Door", Calibri, Ubuntu;
    font-size: 1em;
    color: #3b653d;
    position: absolute;
    left: 5px;
    top: 90px;
  }

  /* line 278, ../Sass/Mobile2.scss */
  .invisible {
    display: none;
  }

  /*Footer Elements*/
  /* line 284, ../Sass/Mobile2.scss */
  footer {
    background: white;
    color: #3b653d;
    position: relative;
    bottom: 0;
    height: 1.3em;
    /*max-content*/
    width: 90%;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  /* line 297, ../Sass/Mobile2.scss */
  footer a, footer a:hover {
    text-decoration: none;
    color: inherit;
  }
}
