/*Variables*/
/*H offset, V offset, blur, spread */
/*H offset, V offset, blur, spread */
/*Mixins*/
/*Functions*/
/* line 79, ../Sass/Website.scss */
html {
  height: 100%;
}

/* line 84, ../Sass/Website.scss */
body {
  background-image: url("../Images/Alphabetxsheer.png");
  background-size: 75%;
  background-repeat: repeat-x;
  background-position: center center;
  background-origin: padding-box;
  z-index: 2;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  font-size: 1em;
  margin: 3px;
  padding: 0;
  height: 100%;
}

/* Banner Elements */
/* line 97, ../Sass/Website.scss */
#logo {
  width: 221px;
  height: 142px;
  position: relative;
  z-index: 5;
}

/* Div and Section Elements */
/* line 106, ../Sass/Website.scss */
div {
  border-radius: 2px;
  text-align: center;
  padding: 2px;
}

/*Paragraph Elements*/
/* line 115, ../Sass/Website.scss */
p {
  text-indent: 15px;
  width: 75%;
  font-size: 1em;
}

/*Button Elements*/
/* line 123, ../Sass/Website.scss */
button {
  background: #3b653d;
  color: white;
  box-shadow: inset -1px 1px 2px 1px #39613b, 1px 1px 2px 1px #39613b;
  width: 145px;
  height: 60px;
  font-size: 1em;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  padding-bottom: 2px;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 131, ../Sass/Website.scss */
.selected {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  width: 145px;
  height: 60px;
  font-size: 1em;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  padding-bottom: 2px;
  border: none;
  border-radius: 2px;
  margin: 0 auto;
  margin-right: 7px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 139, ../Sass/Website.scss */
#logout {
  font-weight: 900;
  text-decoration: underline;
}

/*Button Links*/
/* line 146, ../Sass/Website.scss */
button a {
  color: white;
}

/* line 151, ../Sass/Website.scss */
button:hover {
  text-shadow: 0 2px 3px #cccccc;
}

/* line 156, ../Sass/Website.scss */
button a:hover {
  text-shadow: 0 2px 3px #cccccc;
}

/* line 161, ../Sass/Website.scss */
.selected a {
  color: #3b653d;
  font-weight: bold;
}

/*Form elements*/
/* line 168, ../Sass/Website.scss */
.form {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  margin: 0 auto;
  display: block;
}

/* line 174, ../Sass/Website.scss */
.login {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  margin: 0 auto;
  display: block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 180, ../Sass/Website.scss */
.login a {
  color: #3b653d;
}

/* line 185, ../Sass/Website.scss */
.getaccount {
  background: white;
  color: #3b653d;
  box-shadow: inset -1px 1px 2px 1px #cccccc, 1px 1px 2px 1px #cccccc;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  margin: 0 auto;
  display: block;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Form Control Elements*/
/* line 192, ../Sass/Website.scss */
label {
  display: inline-block;
  float: left;
  text-align: right;
  padding-bottom: 4px;
  min-width: 100px;
  font-weight: bold;
}

/* line 201, ../Sass/Website.scss */
input, textarea, select {
  display: inline-block;
  width: 225px;
  border: 1px solid #cccccc;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
  font-size: 1em;
  padding-bottom: 4px;
}

/* line 212, ../Sass/Website.scss */
:focus, textarea:focus {
  border: 1px solid darkgrey;
  font-weight: bold;
}

/* line 218, ../Sass/Website.scss */
input:focus {
  font-size: 110%;
  width: 250px;
}

/*Form Validation Elements*/
/* line 224, ../Sass/Website.scss */
.success {
  color: green;
}

/* line 229, ../Sass/Website.scss */
p.success {
  font-size: 2em;
}

/* line 234, ../Sass/Website.scss */
.logout {
  font-size: 3em;
}

/* line 239, ../Sass/Website.scss */
.error {
  color: red;
}

/*Image Elements*/
/* line 245, ../Sass/Website.scss */
img {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Link elements */
/* line 254, ../Sass/Website.scss */
a {
  color: #3b653d;
  text-decoration: none;
}

/* line 260, ../Sass/Website.scss */
a:hover {
  text-decoration: underline;
}

/* line 265, ../Sass/Website.scss */
a:active {
  color: white;
  outline: none;
}

/* Table Elements */
/* line 273, ../Sass/Website.scss */
table {
  font-size: 1em;
  background-color: #3b653d;
  color: white;
  text-align: center;
  margin: 35px auto;
  width: 100%;
}

/* line 283, ../Sass/Website.scss */
th {
  font-size: 1em;
}

/* line 288, ../Sass/Website.scss */
th, td {
  border: 2px white;
  border-style: none dashed dashed none;
}

/*Miscelleaneous Elements*/
/* line 295, ../Sass/Website.scss */
h1, h2, h3 {
  color: #3b653d;
  font-family: "The Girl Next Door", Calibri, Ubuntu;
}

/* line 301, ../Sass/Website.scss */
h1 {
  font-size: 3em;
}

/* line 306, ../Sass/Website.scss */
h2 {
  font-size: 2em;
  font-family: "Homemade Apple", Calibri, Ubuntu;
}

/* line 313, ../Sass/Website.scss */
.invisible {
  display: none;
}

/*Footer Elements*/
/* line 319, ../Sass/Website.scss */
footer {
  background: white;
  color: #3b653d;
  position: relative;
  bottom: 0;
  height: 1.3em;
  /*max-content*/
  width: 90%;
  border-radius: 7px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* line 332, ../Sass/Website.scss */
footer a, footer a:hover {
  text-decoration: none;
  color: inherit;
}

/*Positional Elements*/
/* line 339, ../Sass/Website.scss */
.floatleft {
  float: left;
}

/* line 344, ../Sass/Website.scss */
.floatright {
  float: right;
}

/* line 348, ../Sass/Website.scss */
.alignright {
  text-align: right;
}

/* line 352, ../Sass/Website.scss */
.alignleft {
  text-align: left;
}

/* line 356, ../Sass/Website.scss */
.aligncenter {
  text-align: center;
}
