/*Variables*/
//Colors
$chalkgreen: #3B653D; //chalkboard green
$skyblue:#A9A9A9;
$ltgray:#ABABAB;
//$bright-gold:#DFD35b;
$dkbrown:#474747;
$white:white;
$pinegreen:#575757;


//Fonts
$base-font:1em;
//$large-font:1.3em;
$larger-font:2em; 
$smaller-font:1em;
$largest-font:3em;
$main-font:'The Girl Next Door', Calibri, Ubuntu;
$second-font:'Homemade Apple', Calibri, Ubuntu;

//Shadows
$main-shadow: inset -1px 1px 2px 1px; /*H offset, V offset, blur, spread */
$second-shadow:1px 1px 2px 1px; /*H offset, V offset, blur, spread */