@import "Variables";
/* Mobile Mixins*/

//forms
@mixin forms
{  
    border-radius:10px;
    padding-bottom:5px;
    padding-top: 4px;
    @include alignleft;
}

//invisible
@mixin invisible
{	
	display:none;
}

//align-left
@mixin alignleft
{	
	text-align:left;
     position:relative;
     left:1%; 
     float:none;
}

//Layout
@mixin centered
{
    margin: 0 auto;
    display:block;
}

//header
@mixin header
{
    @include alignleft; //line 26
    text-decoration:underline;
    color:$chalkgreen;

}

	//box-sizing
@mixin box-sizing
{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/*Functions*/

@function set-text-color($color) {
  @if (lightness($color)>67) 
  {
    @return $chalkgreen; // Lightest backgorund, return dark color //dark color has lower percentage
  }
  @else if ((lightness($color)<67) and (lightness($color)>34) )
  {
    @return $dkbrown; // Darker backgorund, return lighter color
  }
  @else
  {
    @return white; // Darkest background, return light color
  }
}

//Standard CSS
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{

	body
	{
	   font-size:$smaller-font;
	   max-width:300px;
	}

	/* Banner Elements */
	
	#logo
	{
		@include box-sizing; //line 
		@include alignleft; //line
	    	width:138px;
	    	height:89px;
	}
	
	.page
	{
		@include invisible;
	}
	
	/* Div and Section Elements */
	div
	{
	    border-radius:2px;
	    text-align:left;
	    padding:2px;
	}

	/*Navigation Elements */

	.menu
	{
	    @include alignleft;
	}
	
	button,.selected
	{
	    width: 50%;
	    height:100%;
	    padding: 1px;
	    margin-top:3px;
	    margin-bottom:3px;
	    font-size: $smaller-font;
	    background-color:$chalkgreen;
	}
		/*Button Links*/
	button a
	{ 
		color:white;
	}
		
	button a:hover
	{ 

	}

	button a:visited
	{ 
		color:white;
	}	

	    /*Form elements*/
	.form
	{
	    @include forms; //line 45
	}
	
	
	.login
	{
	    @include forms;//line 45
	    width:50%;
	    @include box-sizing;
	}
	.login a
	{
		color:set-text-color(white);
	}
	
	/*Form Control Elements*/
	label
	{
	    display:inline-block;
	    float:left;
	    text-align:right;
	    padding-bottom:4px;
	    min-width:100px;
	}
	 input, textarea, select
	{
	    display:inline-block;
	    width:225px;
	    border: 1px solid shade(white, 20% );
	    font-family:$main-font;
	    font-size:$base-font;
	    padding-bottom:4px;
	}
	
	
	:focus, textarea:focus 
	{
	    border:1px solid $skyblue;
	    font-weight:bold;
	}
	
	input:focus
	{
		font-size:110%;
		width:250px;
	}
	    /*Form Validation Elements*/
	.success
	{
	    color:green;
	}
	
	p.success
	{
	    font-size:$larger-font;
	}
	
	.logout
	{
	    font-size:$largest-font;
	}
	
	.error
	{
	    color:red;
	}
	
	/*Image Elements*/
	img
	{
	    padding-bottom:0;
	    margin-bottom:0;
	    //margin: 0 auto;
	}
	
	
	/* Link elements */
	a:hover   
	{ 
		text-decoration:underline;
	}
	
	a:active  
	{
	    color:set-text-color($chalkgreen);
	    outline:none;
	}
	
	/* Table Elements */
	
	table
	{
		font-size: $base-font;
		background-color:$chalkgreen;
		color:set-text-color($chalkgreen);
		text-align: center;
		margin:35px auto;
		width:100%;
	}
	
	th
	{
		font-size: $base-font;
	}
	
	th, td
	{
		border: 2px white; 
		border-style:none dashed dashed none; //Top Right Bottom Left
	}
	
	/*Miscelleaneous Elements*/
	h1,h2,h3
	{
		color:set-text-color($ltgray);
		font-family:$main-font;
	}
	
	h1
	{
		font-size:$largest-font;
	}
	
	h2
	{
		font-size:$larger-font;
		font-family:$second-font;
	
	}
	
	.greeting
	{
		font-family:$main-font;
		font-size: $base-font;
		color:$chalkgreen;
		position:absolute;
		left:5px;
		top:90px;
	}
	
	.invisible
	{
		display:none;
	}
	
	/*Footer Elements*/
	footer
	{
	    background: $white;
	    color:set-text-color($white);
	    position:relative;
	    bottom:0;
	    height: 1.3em; /*max-content*/
	    width: 90%;
	    border-radius:7px;
	    text-align: center;
	    @include centered;
	}
	
	footer a, footer a:hover
	{
	    text-decoration:none;
	    color:inherit;
	}

}





