@import "Variables";
//Mixins
    //forms
@mixin forms
{  
    border-radius:10px;
    padding-bottom:5px;
    padding-top: 4px;
    @include alignleft;
}

//invisible
@mixin invisible
{	
	display:none;
}

//align-left
@mixin alignleft
{	
	text-align:left;
     position:relative;
     left:1%; 
     float:none;
}

//header
@mixin header
{
    @include alignleft; //line 26
    text-decoration:underline;
    color:$chalkgreen;

}

	//box-sizing
@mixin box-sizing
{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
    body
    {
        background-color:white;
	   color:$chalkgreen;
        font-size:$smaller-font;
	   @include alignleft;
    }

    /*Image Elements*/

	#logo 
	{
	    @include box-sizing; //line 12
	    @include alignleft; //line 26
	    width:138px;
	    height:89px;
	}
	
	.logo
	{
       @include box-sizing; //line 12
	  @include alignleft;
	}


	/*Miscellaneous Elements*/
	
		
	div
     {
	    @include alignleft;
	    @include box-sizing; //line 12
	    max-width:300px;
	    min-width:250px;
	    width:30%;
	}
	
	/*Header Elements*/
	h1
	{
		@include header; //line 35
	    font-size:$base-font;

	}

	h2
	{
		@include header; //line 35
	    font-size:$smaller-font;

	}

	/*Navigation Elements*/

	.menu
	{
	    @include alignleft;
	    padding-bottom: 7px;
	}
	
	button,.selected
	{
	    width: 75%;
	    height:100%;
	    padding: 1px;
	    margin-top:3px;
	    margin-bottom:3px;
	    font-size: $smaller-font;
	    background-color:$chalkgreen;
	}

	button a
	{ 
		color:white;
	}
		
	button a:hover
	{ 

	}

	a:visited
	{ 
		color:white;
	}
	
	    /*Form elements*/
	.form
	{
	    @include forms;
	    margin-bottom:4px;
	}
	
	.login
	{
	    @include forms; //line 4
	    @include box-sizing; //line 12
	    position: absolute;
	    top:180px;
	    left:15px;
	}
	
	/*Form Control Elements*/

	label
	{
 	    @include alignleft;
	    font-size:$smaller-font;
	    color:$chalkgreen;

	}

	input, textarea, select
	{
	    @include alignleft;
	    border: 1px solid $main-shadow;
	    font-family:$main-font;
	    color:$chalkgreen;
	    min-width:200px;
	}
	
	p.success
	{
	    font-size:$smaller-font;
	}

    /*Table Elements*/

    table
    {
        font-size: $smaller-font;
        margin:10px auto;
    }
    th
    {
        font-weight: lighter;
    }


}/*End Media Query*/
