@import "Variables";
/*Mixins*/

//Layout
@mixin centered
{
    margin: 0 auto;
    display:block;
}

//Presentation

    //Buttons
@mixin buttonformats
{
    width: 145px;
    height:60px;
    font-size:$base-font;
    font-family: $main-font;

    padding-bottom: 2px; 
    border:none;
    border-radius:2px;
    margin:0 auto;
    margin-right:7px;
    margin-bottom:10px;
    margin-top:5px;
}

    //forms
@mixin forms 
{
    background:white;
    color:set-text-color(white);
    box-shadow:$main-shadow shade(white, 20% ),  $second-shadow shade(white, 20% );  
    border-radius:10px;
    padding-bottom:10px;
    padding-top: 4px;
    @include centered //line 5
}

@mixin background
{
    background-image:url('../Images/Alphabetxsheer.png');
    background-size: 75%;
    background-repeat:repeat-x ;
    background-position: center center;
    background-origin:padding-box;
}

	//box-sizing
@mixin box-sizing
{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/*Functions*/

@function set-text-color($color) {
  @if (lightness($color)>67) 
  {
    @return $chalkgreen; // Lightest backgorund, return dark color //dark color has lower percentage
  }
  @else if ((lightness($color)<67) and (lightness($color)>34) )
  {
    @return $dkbrown; // Darker backgorund, return lighter color
  }
  @else
  {
    @return white; // Darkest background, return light color
  }
}

//Standard CSS

html
{
    height:100%;
}

body
{
   @include background;
   z-index: 2;
   font-family:$main-font;
   font-size:$base-font;
   margin:3px;
   padding:0;
   height:100%;
}

/* Banner Elements */

#logo
{
  width:221px;
  height:142px;
  position:relative;
  z-index:5;
}

/* Div and Section Elements */
div
{
    //clear:both;
    border-radius:2px;
    text-align: center;
    padding:2px;
}

	/*Paragraph Elements*/
p
{
	text-indent:15px;
	width:75%;
	font-size:$base-font;
}

        /*Button Elements*/
button
{
    background:$chalkgreen;
    color:set-text-color($chalkgreen);
    box-shadow:$main-shadow shade( $chalkgreen, 3% ),  $second-shadow  shade( $chalkgreen, 3% );
    @include buttonformats; //line 14
}

.selected
{ 
    background:white;
    color:set-text-color(white);
    box-shadow:$main-shadow shade(white, 20% ),  $second-shadow shade(white, 20% );
    @include buttonformats;  //line 14
}

#logout
{
	font-weight:900;
	text-decoration:underline;
}

        /*Button Links*/
button a
{
    color:set-text-color($chalkgreen);
}

button:hover
{ 
    text-shadow: 0 2px 3px shade(white, 20% );
}

button a:hover
{ 
    text-shadow: 0 2px 3px shade(white, 20% );
}

.selected a
{
    color:set-text-color(white);
    font-weight:bold;
}

    /*Form elements*/
.form
{
    @include forms; //line 45
}


.login
{
    @include forms;//line 45
    width:50%;
    @include box-sizing;
}
.login a
{
	color:set-text-color(white);
}

.getaccount
{
	@include forms;
	width:50%;
	@include box-sizing;
}
/*Form Control Elements*/
label
{
    display:inline-block;
    float:left;
    text-align:right;
    padding-bottom:4px;
    min-width:100px;
    font-weight:bold;
}
 input, textarea, select
{
    display:inline-block;
    width:225px;
    border: 1px solid shade(white, 20% );
    font-family:$main-font;
    font-size:$base-font;
    padding-bottom:4px;
}


:focus, textarea:focus 
{
    border:1px solid $skyblue;
    font-weight:bold;
}

input:focus
{
	font-size:110%;
	width:250px;
}
    /*Form Validation Elements*/
.success
{
    color:green;
}

p.success
{
    font-size:$larger-font;
}

.logout
{
    font-size:$largest-font;
}

.error
{
    color:red;
}

/*Image Elements*/
img
{
    padding-bottom:0;
    margin-bottom:0;
    //margin: 0 auto;
}


/* Link elements */
a 
{
     color:$chalkgreen;
	text-decoration: none;
}

a:hover   
{ 
	text-decoration:underline;
}

a:active  
{
    color:set-text-color($chalkgreen);
    outline:none;
}

/* Table Elements */

table
{
	font-size: $base-font;
	background-color:$chalkgreen;
	color:set-text-color($chalkgreen);
	text-align: center;
	margin:35px auto;
	width:100%;
}

th
{
	font-size: $base-font;
}

th, td
{
	border: 2px white; 
	border-style:none dashed dashed none; //Top Right Bottom Left
}

/*Miscelleaneous Elements*/
h1,h2,h3
{
	color:set-text-color($ltgray);
	font-family:$main-font;
}

h1
{
	font-size:$largest-font;
}

h2
{
	font-size:$larger-font;
	font-family:$second-font;

}

.invisible
{
	display:none;
}

/*Footer Elements*/
footer
{
    background: $white;
    color:set-text-color($white);
    position:relative;
    bottom:0;
    height: 1.3em; /*max-content*/
    width: 90%;
    border-radius:7px;
    text-align: center;
    @include centered;
}

footer a, footer a:hover
{
    text-decoration:none;
    color:inherit;
}

/*Positional Elements*/
.floatleft
{
    float:left;
}

.floatright
{
    float:right;
}
.alignright
{
    text-align:right;
}
.alignleft
{
    text-align:left;
}
.aligncenter
{
    text-align:center;
}






